<!DOCTYPE html>
{% extends 'contactsapp/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <section role="main">
        <div class="jumbotron" style="background-color:white; padding: 1rem 2rem">
            <div class="col-sm-8 mx-auto text-center">
                <h1>Search Results</h1>
                <p><strong>{{ query }}</strong></p>
            </div>
        </div>

        <div class="jumbotron text-center"> 
            {% if orgs %}
            <h2>Organizations</h2>
            {% for o in orgs %}
                {% if forloop.first %}
                    <div class="row">
                {% endif %}
                    <div class="col-lg-4">
                            {% if o.logo == '' %}
                                <span style="color: cornflowerblue;"><i class="far fa-building fa-8x"></i></span>
                            {% else %}
                                <img src="{{ o.logo.url }}" width="140" height="140" style="border-radius: 20%"></img>
                            {% endif %}
                        <h2><a href="{% url 'show_org' o.slug %}">{{ o.name }}</a></h2>
                        <a type="button" class="btn btn-outline-warning" href="/contacts/edit_org/{{ o.slug }}"><i class="fas fa-edit"></i></a>
                        <a type="button" class="btn btn-outline-danger" href="#"><i class="fas fa-trash"></i></a>
                    </div><!-- /.col-lg-4 -->
                    {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <br/>
                    <div class="row">
                    {% endif %}
                    {% if forloop.last %}</div>{% endif %}
            {% endfor %}
            {% else %}
            {% endif %}
            <hr class="featurette-divider">
            {% if cons %}
            <h2>Contacts</h2>
            {% for c in cons %}
                {% if forloop.first %}
                    <div class="row">
                {% endif %}
                    <div class="col-lg-4">
                        {% if c.picture == '' %}
                            <span style="color: cornflowerblue;"><i class="fas fa-user fa-8x"></i></span>
                        {% else %}
                            <img src="{{ c.picture.url }}" width="140" height="140" style="border-radius: 20%"></img>
                        {% endif %}
                        <h2>{{ c.name }}</h2>
                        <a class="btn btn-outline-success" data-toggle="collapse" href="#multiCollapse{{ c.id }}" role="button" aria-expanded="false" aria-controls="multiCollapse{{ c.id }}"><i class="fas fa-eye"></i></a>
                        <a type="button" class="btn btn-outline-warning" href="/contacts/edit_con/{{ c.id }}"><i class="fas fa-edit"></i></a>
                        <a type="button" class="btn btn-outline-danger" href="/contacts/del_con/{{ c.id }}"><i class="fas fa-trash"></i></a>
                        <div class="collapse multi-collapse" id="multiCollapse{{ c.id }}">
                            <div class="card card-body" style="margin-top: 1rem; background-color: #777; color: white;">
                                <p><strong>{{ c.role }}</strong></p>
                                <p>{{ c.phone }}</p>
                                <p>{{ c.email }}</p>
                                <p>{{ c.address }}</p>
                                <p>{{ c.city }}, {{ c.country }}</p>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <br/>
                    <div class="row">
                    {% endif %}
                    {% if forloop.last %}</div>{% endif %}
            {% endfor %}
            {% else %}
            {% endif %}
        </div>

    </section>

{% endblock body_block %}