<!DOCTYPE html>
{% extends 'contactsapp/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <section role="main">
    <div class="jumbotron" style="background-color:white; padding: 1rem 2rem">
        <div class="col-sm-8 mx-auto text-center">
            <h1>Edit Organization</h1>

            {% if this_org.logo == '' %}
                <span style="color: indigo;"><i class="far fa-building fa-9x"></i></span>
            {% else %}
                <img src="{{ this_org.logo.url }}" width="140" height="140" style="border-radius: 20%"></img>
            {% endif %}

            {% if this_org.logo != '' %}
            <div>
                <br/>
                <a type="button" class="btn btn-outline-warning" href="/contacts/remove_logo/{{ this_org.slug }}">Reset Logo</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="jumbotron text-center"> 
        <form id="edit_organization_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {% comment %} {{ field.errors }} {% endcomment %}
                <label for="{{ field.help_text }}">{{ field.help_text }}</label>
                {{ field }}
                <br/>
            {% endfor %}
            <input class="btn btn-info" type="submit" name="submit" value="Edit Organization" />
            <a type="button" class="btn btn-outline-dark" href="/contacts/organization/{{ this_org.slug }}">Cancel</a>
        </form>
    </div>
{% endblock %}