<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Address Book</title>
    </head>
    <body>
        <h1>Organizations</h1>
        <div>
            <div>
                {% if orgs %}
                <ul>
                    {% for o in orgs %}
                        <li><a href="/contacts/organization/{{ o.slug }}">{{ o.name }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    <strong>There are no organizations present.</strong>
                {% endif %}
            </div>
        </div>
        <div>
            <a href="/contacts/about/">About</a><br />
        </div>
    </body>
</html>